{% extends "adminLayout.njk" %}

{% block head %}
  <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
  <div class="chefs-container">
    <div class="index-head">
      <h1>Gerenciar chefs</h1>
      <a href="/admin/chefs/create">Cadastrar chef</a>
    </div>

    <section class="cards-chefs">
      {% include "admin/chefs/chefs-cards-admin.njk" %}
    </section>
  </div>
{% endblock %}