{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
  <div class="chefs-container">
    <section class="cards-chefs">
      {% include "screens/chefs-cards.njk" %}
    </section>
  </div>  
{% endblock %}