{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy</title>
{% endblock %}

{% block filter %}
  <form class="filter" action="search" method="get">
    <input 
      type="text"
      name="filter"
      placeholder="Buscar uma receita"
      value="{{filtered}}"
    >
    <button type="submit">Buscar</button>
  </form>
{% endblock %}

{% block content %}
  <body>
    <div class="section">
      <div class="home">
        <h1>As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por
          profissionais do mundo inteiro.
        </p>
      </div>
      <div class="image__container">
        <img src="/assets/chef.png" alt="chef" />
      </div>
    </div>

    <div class="most-accessed">
      <h1>Mais acessadas</h1>
      <section class="cards">
        
        {% include "screens/recipe-fields.njk" %}

      </section>
    </div>
  </body>
{% endblock%}
