{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block filter %}
  <form class="filter" action="search" method="get">
    <input 
      type="text"
      name="filter"
      placeholder="Buscar uma receita"
      value="{{filter}}"
      >
    <button type="submit">Buscar</button>
  </form>
{% endblock %}

{% block content %}
  <div class="recipes-screen">

    <section class="cards">
        
      {% include "screens/recipe-fields.njk" %}

    </section>
  </div>
{% endblock %}